<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments :: header"></div>


    <ol>
        <li>Forest Gump
            <ul>
                <li>Tom Hanks</li>
                <li>Robin Wright</li>
                <li>Sally Field</li>
            </ul>
        </li>
    </ol>
    <p>
        <h2>Extra Links</h2>
        <ul>
            <li><a href="securedPage">Secured Page</a></li>
        </ul>
    </p>
    <p>
        <a href="logout">logout</a>
    </p>
<div th:insert="fragments :: footer"></div>
</html>