<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ol>
        <li>Forest Gump
            <ul>
                <li>Tom Hanks</li>
                <li>Robin Wright</li>
                <li>Sally Field</li>
            </ul>
        </li>
    </ol>
    <p>
        <h2>Extra Links</h2>
        <ul>
            <li><a href="securedPage">Secured Page</a></li>
        </ul>
    </p>
    <p>
        <a href="logout">logout</a>
    </p>
</body>
</html>