<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragments :: header"></div>
    <p>
        <h2>Extra Links</h2>
            <ol>
                <li th:each="movie: ${movieList}">
                    <span th:text="${movie.movie}"></span>
                    <ul>
                        <li th:each="genre: ${movie.genres}">
                            <span th:text="${genre.genre}"></span>
                        </li>
                     </ul>
                </li>
            </ol>
    </p>
    <ul>
        <li><a href="securedPage">Secured Page</a></li>
    </ul>
    <p>
        <a href="logout">logout</a>
    </p>
<div th:insert="fragments :: footer"></div>
</html>